* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  background-color: #222222;
  height: 60px;
}
li {
  float: left;
  list-style: none;
  padding: 20px;
  color: #6f7c8d;
}
li:hover {
  background-color: black;
  color: white;
}
.login {
  float: right;
  padding: 20px;
  color: #6f7c8d;
  margin-right: 20px;
}
.fas {
  float: right;
  padding: 22px 0;
  color: #6f7c8d;
}
.main {
  background-color: #f1f1f1;
  height: 100%;
  position: relative;
}
.content {
  top: 0;
  width: 60%;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
}
span {
  line-height: 1.5;
}
.nav-bar-left {
  position: absolute;
  top: 0;
  width: 20%;
}
.link {
  padding-top: 30px;
  color: #397cb9;
  text-align: center;
}
.nav-bar-right {
  right: 0;
  position: absolute;
  top: 0;
  /* width: 20%; */
}
.ads {
  margin-right: 30px;
  margin-top: 50px;
  padding: 30px 90px;
  border: 0.5px solid #6f7c8d;
  background-color: #f5f5f5;
}
.footer {
  background-color: #555555;
  height: 60px;
}
.footer p {
  text-align: center;
  padding-top: 20px;
}
